<a href="https://colab.research.google.com/github/pudiaw/Pusat-Studi-Data-Sains-UAD/blob/main/Salinan_dari_Modul_2A_String_Pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=13rZsZxJiow8sSsn4xVAOaOfx0ydBXgnr
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Hallo sahabat data

Ini adalah notebook yang disusun untuk program **Pejuang Data Sains 1.0** .

Ini adalah **Modul 2A - String Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [1]:
#Contoh :
print("Hallo")
print('Hallo')

Hallo
Hallo

Expected output:
```
Hello
Hello
```

In [2]:
#Mulai Program mu....^_^
print("")
print('')

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [3]:
#Contoh
a = "Hallo"
print(a)

Hallo

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [ ]:
#Mulai Program mu....^_^

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [4]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [ ]:
#Mulai Program mu....^_^

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [5]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [ ]:
#Mulai Program mu....^_^

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [9]:
#Contoh
a = "Hallo, World!"
print(a[1])

a

Expected output:
```
a
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [7]:
#Mulai Program mu....^_^

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [10]:
#Contoh :
b = "Hallo, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [ ]:
#Mulai Program mu....^_^

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [11]:
#Contoh
b = "Hallo, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [ ]:
#Mulai Program mu....^_^

In [12]:
#Contoh
a = "Hallo, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [ ]:
#Mulai Program mu....^_^

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [13]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [ ]:
#Mulai Program mu....^_^

In [14]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [ ]:
#Mulai Program mu....^_^

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [15]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hallo"
b = "World"
c = a + b
print(c)

HalloWorld

Output :
```
HalloWorld
```

In [ ]:
#Mulai Program mu....^_^

In [16]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hallo"
b = "World"
c = a + " " + b
print(c)

Hallo World

Output :
```
Hallo World
```

In [ ]:
#Mulai Program mu....

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [17]:
#Contoh
umur = "42"
txt = "Nama saya Muzhid, saya " + umur
print(txt)

Nama saya Muzhid, saya 42

Output :
```
Nama saya Muzhid, saya 42
```

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [18]:
#Contoh
a = " Hallo, World! "
print(a.strip()) # returns "Hello, World!"

Hallo, World!

Output :
```
Hallo, World!
```

In [ ]:
#Mulai Program Mu....

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [19]:
#Contoh
a = "HALLO, World!"
print(a.lower())

hallo, world!

Output :
```
hallo, world!
```

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [20]:
#Contoh
a = "Hallo, World!"
print(a.upper())

HALLO, WORLD!

Output :
```
HALLO, WORLD!
```

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [21]:
#Contoh
a = "Hallo, World!"
print(a.replace("H", "J"))

Jallo, World!

Output :
```
Jallo, World!
```

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [22]:
#Contoh
a = "Hallo, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hallo', ' World!']

Output :
```
['Hallo', ' World!']
```

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [23]:
#Contoh
a = "hallo, world"
print(a.capitalize())

Hallo, world

Output :
```
Hallo, world
```

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [24]:
#Contoh
a = "Hallo, World"
print(a.casefold())

hallo, world

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Output :
```
Jumlah : 2
```

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name Mujhid'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

Output :
```
mY nAME IS mUJHID
```