<a href="https://colab.research.google.com/github/pudiaw/Pusat-Studi-Data-Sains-UAD/blob/main/Salinan_dari_Modul_2C_Tuple_dan_Set_pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1uGyEsqVfv95YMvDH_xeA9yLUZ1n0i34G
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Hallo sahabat data

Ini adalah notebook yang disusun untuk program **Pejuang Data Sains 1.0** .

Ini adalah **Modul 2C - Set & Tuple Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami Tuple Pada Python
2. Memahami Set Pada Python
3. Mengenal dan memahami method-method pada Tuple Python
4. Mengenal dan memahami method-method pada Set Python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

# **Tuple**

## Tuple pada Python

Tuple dalam Python adalah stuktur data yang digunakan untuk menyimpan sekumpulan data. Tuple bersifat immutable, artinya isi tuple tidak bisa kita ubah dan hapus. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh Tuple
tuple1 = ('matematika', 'UAD', 2021)
tuple1

('matematika', 'UAD', 2021)

In [ ]:
#sekarang giliran kamu mencoba

### Akses Nilai dalam tuple set
Untuk mengakses nilai dalam tuple, gunakan tanda kurung siku untuk mendapatkan nilai yang tersedia pada indeks tersebut.

In [2]:
#contoh
print(tuple1[1])
print(tuple1[-1])

UAD
2021

In [3]:
print(tuple1[0:2])

('matematika', 'UAD')

In [ ]:
#sekarang giliran kamu mencoba

### Merubah Elemen Bagian Tuple

In [4]:
print(tuple1[1]=10)

SyntaxError: ignored

MENGAPA ERROR ?
ini dikarenakan tuple bersifat immutable, artinya isi dari tuple tidak bisa kita ubah dan tidak bisa dihapus.

### Mengetahui panjang elemen tuple
dengan meggunakan len()

In [5]:
print(len(tuple1))

3

In [ ]:
#sekarang giliran kamu mencoba

# **Set**

## Set pada Python

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [7]:
#contoh
B={'kijang', 'aku', 'bintang'} #string
print(B)


#contoh
C = {7,1,9,5} #integer
print(C)

{'kijang', 'aku', 'bintang'}
{1, 5, 9, 7}

In [ ]:
#sekarang giliran kamu mencoba

### Merubah Elemen Bagian Set.
Pada set tidak dapat dilakukan perubahan pada indeks elemennya, tetapi dapat ditambah.

In [8]:
#contoh
buah = {"apple", "banana", "cherry"}

buah.add("blue")

print(buah)

{'cherry', 'banana', 'blue', 'apple'}

In [ ]:
#sekarang giliran kamu mencoba

Jika ingin menambahkan banyak anggota lagi, maka ditambahkan dengan .update

In [9]:
#contoh
Binatang = {'kijang', 'domba', 'kambing', 'ayam', 'burung',}
Binatang.update(['harimau', 'kucing', 'sapi', 'ikan'])
print(Binatang)

{'sapi', 'ikan', 'ayam', 'kambing', 'kijang', 'domba', 'burung', 'kucing', 'harimau'}

In [ ]:
#sekarang giliran kamu mencoba

### Menghapus satu anggota set
Menghapus satu anggota pada set menggunakan remove().

In [10]:
#contoh
Y = {"apple", "banana", "cherry"}
Y.remove("apple") #dengan menggunakan remove
print(Y)

{'cherry', 'banana'}

In [ ]:
#sekarang giliran kamu mencoba

### Mengetahui panjang elemen
untuk mengetahui berapa banyak elemen pada set, gunakan metode len()

In [11]:
#contoh
buah = {"anggur","leci", "pisang", "salak"}

print(len(buah))

4

In [ ]:
#sekarang giliran kamu mencoba

### Mengambil sebagian elemen
Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [12]:
#contoh

buah = {"anggur","leci", "pisang", "duku"}
print(buah[2]) #hayo kenapa eror

TypeError: ignored

## Metode Pada Set

### Intersection()

Metode ini berfungsi untuk menghitung irisan dari dua buah himpunan atau lebih.

In [13]:
x = {"matematika", "fisika", "biologi"}
y = {"matematika", "kimia", "antropologi"}

z = x.intersection(y)

print(z)

{'matematika'}

In [ ]:
#sekarang giliran kamu mencoba

### discard()
Metode ini berfungsi untuk menghapus satu anggota dari set.

In [14]:
X= {"apel", "pir", "mangga", "manggis"}
X.discard("apel")  #dengan menggunakan discard
print(X)

{'manggis', 'pir', 'mangga'}

In [ ]:
#sekarang giliran kamu mencoba

### union()
Metode ini berfungsi untuk mengembalikan satu set baru dengan semua item dari kedua set. Menggabungkan set anggota yang ada pada A dan B.

In [17]:
#contoh
buah1 = {"Apel", "Pisang", "Mangga"}
buah2 = {"Melon", "Semangka", "Jeruk"}

buah3 = buah1.union(buah2)
print(buah3)

{'Semangka', 'Melon', 'Jeruk', 'Pisang', 'Apel', 'Mangga'}

In [ ]:
#sekarang giliran kamu mencoba

### clear()
 Metode ini berfungsi untuk menghapus semua elemen dari set.

In [18]:
#contoh
benda = {"Meja", "Kursi", "Lemari"}

benda.clear()
print(benda)

set()

In [ ]:
#sekarang giliran kamu mencoba

### pop()
Metode ini berfungsi untuk menghapus elemen dari set.

In [22]:
#contoh
bunga = {"Mawar", "Melati", "Sakura"}

x = bunga.pop()

print(x)
print(bunga)

Melati
{'Mawar', 'Sakura'}

In [ ]:
#sekarang giliran kamu mencoba

### difference()
Metode ini berfungsi untuk mengembalikan satu set yang berisi selisih antara dua atau lebih set. operasi selisih adalah set himpunan yang hanya ada di A tidak ada di B.

In [23]:
#contoh
kata1 = {"aku", "kamu", "mereka","anda"}
kata2 ={"kita","aku","ia","kamu"}
kata1.difference(kata2)

{'anda', 'mereka'}

In [ ]:
#sekarang giliran kamu mencoba

### difference update()
Metode ini berfungsi untuk menghapus item dalam set ini yang juga termasuk dalam set lain yang ditentukan.

In [24]:
x = {"Matematika", "Mudah", "Menyenangkan"}
y = {"Mudah", "Semangat", "Bisa"}

x.difference_update(y)

print(x)

{'Menyenangkan', 'Matematika'}

In [ ]:
#sekarang giliran kamu mencoba

### symmetric_difference()
symmetric_difference() atau operasi komplemen adalah set anggota yang ada di A dan B, tapi tidak di keduanya.

In [25]:
#contoh
kata1 = {"aku", "kamu", "mereka","anda"}
kata2 ={"kita","aku","ia","kamu"}
kata1.symmetric_difference(kata2)

{'anda', 'ia', 'kita', 'mereka'}

In [ ]:
#sekarang giliran kamu mencoba

### issubset()
Metode ini berfungsi untuk menampilkan apakah set lain berisi set ini atau tidak.

In [26]:
#contoh
x = {"a", "b", "d"}
y = {"d", "e", "f", "c", "b", "a"}

z = x.issubset(y) 
print(z)

True

In [ ]:
#sekarang giliran kamu mencoba

### issuperset()

Metode ini berfungsi untuk menampilkan apakah set ini berisi set lain atau tidak

In [ ]:
#contoh
x = {"d", "e", "f", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) 

print(z)

True

In [ ]:
#sekarang giliran kamu mencoba